<ng-container *ngIf="(sidebarVisible$ | async) as sidebarVisible">
  <p-sidebar [visible]="sidebarVisible" (onHide)="handleCloseSidebar()">
    <h3>Sidebar</h3>
    <div class="flex flex-column gap-3">
      <button (click)="navigateTo('vehicles')" pButton type="button" label="Vehicles" class="p-button-outlined"></button>
      <button (click)="navigateTo('drivers')" pButton type="button" label="Drivers" class="p-button-outlined"></button>
      <button (click)="navigateTo('orders')" pButton type="button" label="Orders" class="p-button-outlined"></button>
    </div>
  </p-sidebar>
</ng-container>
