<app-card [title]="title">
  <div class="mb-4 flex column-gap-2">
    <p-button (click)="downloadFilePdf()">Pobierz PDF</p-button>
    <p-button (click)="openFilePdf()">Otwórz PDF</p-button>
    <ng-content></ng-content>
  </div>
  <p-progressBar *ngIf="loading$ | async" mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
  <ng-container *ngIf="items$ | async as items; else noItems">
    <ng-container *ngIf="items.length>0; else noItems">
      <app-table [items]="items" [title]="title"></app-table>
    </ng-container>
  </ng-container>
  <ng-template #noItems>
    <p class="text-center">{{noItemsText}}</p>
  </ng-template>
</app-card>
