<app-card title="Driver details">
  <div class="flex column-gap-6">
    <p-button icon="pi pi-arrow-left" styleClass="p-button-rounded p-button-text" (click)="returnToList()"></p-button>
    <div class="w-full mt-4">
      <p-progressBar *ngIf="loading$ | async" mode="indeterminate" [style]="{ height: '6px' }"></p-progressBar>
      <ng-container *ngIf="driver$ | async as driver">
        <div class="flex flex-column h-1/3">
          <span>First name: {{ driver.firstName }}</span>
          <span>Last name: {{ driver.lastName }}</span>
          <span>Phone number: {{ driver.phoneNumber }}</span>
          <span>Email: {{ driver.email }}</span>
          <span>Birth date: {{ driver.birthDate }}</span>
          <span>Driving license number: {{ driver.drivingLicenseNumber }}</span>
        </div>
      </ng-container>
    </div>
  </div>
</app-card>
